@import "sass/colors.scss";

.chat-page {
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;

    .user-info {
        background-color: $dark-mint;
        border-radius: 10px;
        padding: 20px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;

        &__image {
            position: absolute;
            top: -25%;
            height: 150%;
            left: 3%;
            border-radius: 50%;
        }

        &__nickname {
            margin-left: 13%;
            font-size: 28px;
            font-weight: 600;
        }
    }

    .chat-box {
        display: flex;
        justify-content: space-between;
        height: 100%;
        padding-top: 30px;

        &__conversations {
            width: 30%;
            display: flex;
            flex-direction: column;
        }

        &__chat {
            width: 68%;
        }
    }
}

