.message-sent-box {
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.message-sent-box-group {
    margin-bottom: 0;
    display: flex;
}

.sent-btn {
    background-color: darkgreen;
    color: white;
}