@import "sass/colors.scss";

.search {
    position: relative;
    margin-bottom: 20px;

    &__users {
        width: 100%;
        top: 35px;
        list-style: none;
        position: absolute;
        z-index: 10;
        background-color: white;
        border: 1px solid $dark-green;
        border-radius: 10px;
    }

    &__user {
        padding: 10px;
        &:hover {
            cursor: pointer;
            background-color: $light-mint;
        }
    }

    &__user-nickname {
        color: $dark-green;
        font-weight: 600;
        font-size: 16px;
        margin: 0 10px;
    }

    &__user-image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}
