.users-list {
    background-color: white;
    border-radius: 10px;
    list-style-type: none;
    padding: 0;
    height: 50%;
}

.users-item {
    padding: 20px 30px;
    border-bottom: 1px solid #ddffe5;
    font-weight: 600;
}

.users-item:hover, .users-item:active {
    cursor: pointer;
    background-color: #f6f8f6;
}