@import "sass/colors.scss";

.profile {

  .chat-info {
    background-color: white;
    height: initial;
    color: $dark-green;
    width: 400px;
    padding: 30px;

    &__header {
      border-bottom: $dark-mint;
    }

    &__image {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }

    &__title {
      margin-left: 20px;
      font-size: 24px;
      font-weight: 600;
    }

    &__status {
      font-size: 14px;
      left: 110px;
      top: 70px
    }

    &:hover {
      cursor: pointer;
    }
  }

}